<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> edit chat </title>
</head>
<body>
    <h3>edit the chat <%=chat._id%></h3>
    <p>chat is send from <%=chat.from%> to <%=chat.to%></p>
    <form method="POST" action="/chat/<%=chat._id%>?_method=PUT">
    <textarea name="msg" rows="10" cols="40" > <%=chat.msg%></textarea>
    <br>
    <button>edit</button>
    <br>
    </form>
</body>
</html>